<?xml version="1.0" encoding="UTF-8"?>
<config>
	<comment>OpenOffice::OODoc local configuration file</comment>
	<OpenOffice-OODoc>
		<XPath-LOCAL_CHARSET>iso-8859-1</XPath-LOCAL_CHARSET>
		<File-WORKING_DIRECTORY>.</File-WORKING_DIRECTORY>
		<Styles-COLORMAP></Styles-COLORMAP>
		<File-DEFAULT_OFFICE_FORMAT>1</File-DEFAULT_OFFICE_FORMAT>
		<INSTALLATION_DATE>2005-05-19T13:00:00</INSTALLATION_DATE>
	</OpenOffice-OODoc>
</config>
